# Dependencies
node_modules/
FRONTEND/node_modules/

# Build output
dist/
build/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.eslintcache
*.env